<div *ngIf="error" class="alert alert-danger" role="alert">
    <b>{{error.name}}</b> <br> <pre>{{error.message}}</pre> {{error.url}}
</div>
<div *ngIf="loading" class="loading d-flex align-items-center justify-content-center">
    <img class="" src="../../../assets/gif/loading.gif" alt="Error">
</div>
<div class="row row-cols-1 row-cols-md-4 g-4">
    <div *ngFor="let user of users" class="col">
        <div class="card">
            <img [src]="user.avatar" class="card-img-top" alt="Error">
            <div class="card-body">
                <h5 class="card-title">{{user.first_name}} {{user.last_name}}</h5>
                <p class="card-text text-muted">{{user.email}} <br> ID: {{user.id}} </p>
            </div>
        </div>
    </div>
</div>